/*custom scrollbar style */
.scrollBar::-webkit-scrollbar {
	width:12px;
	height:12px;
}
.scrollBar::-webkit-scrollbar-button    {
	background-color:rgba(204,192,182,1);
}
.scrollBar::-webkit-scrollbar-track     {
	background:rgba(204,192,182,1);
}
.scrollBar::-webkit-scrollbar-thumb{
	background:rgba(0,0,0,0.15);
	border-radius:5px;
}


h1#header{
	/*width: 25%;*/
	font-size: 1.5rem;
	font-family: microsoft yahei;
	overflow-x:auto;
	overflow-y:hidden;
}

.contentWrap{
	font-family: microsoft yahei;
	font-size: 16px;
	float: left;
	overflow-x:auto;
	overflow-y:auto;
	padding:5px;
}

.contentWrap a{
	display: block;
	height: 28px;
	line-height: 28px;
}

.contentWrap a.file,
.contentWrap a.up,
.contentWrap a.dir{
	background-position: left center;
}

.contentWrap a.highlight{
	background-color: #eee;
} 

.contentWrap pre{
	font-family: microsoft yahei;
	font-size: 16px;
}

table{
	display: none;
}

.firstWrap{
	width: 25%;
	white-space: normal;
	word-break:break-all; word-wrap:break-word;
}

.midWrap{
	border-left:1px solid #EFEFEF;
	width: 25%;
	
}

.lastWrap{
	border-left:1px solid #EFEFEF;
	width: 45%;
	float:right;
}

.lastWrap img{
	width: 90%;
	cursor: pointer;
}

.lastWrap img.big{
	width: auto;
}